/* Estilo para o contêiner geral */
.corpo {
    position: relative; /* Para que os elementos dentro de .corpo sejam posicionados em relação a ele */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa toda a altura da viewport */
    width: 100%;
}

/* Estilo para a div .componentes que contém os outros elementos */
.componentes {
    margin: 20px;
    padding: 20px;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.login {

}

.botoes {
    display: flex;
    justify-content: space-between;
}

.outros a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}
