<div class="corpo">
    <app-shared-component class="fundo"></app-shared-component>
    <div class="componentes">
        <div class="login">
            <section>
                <p>Login: <input type="text"></p>
                <p>Senha: <input type="password"></p>
            </section>
        </div>
        <div class="botoes">
            <button>Entrar</button>
            <button>Cancelar</button>
        </div>
        <div class="outros">
            <a class="esqueci-a-senha" routerLink="/esqueci-a-senha">Esqueci a senha</a>
            <a class="tela-cadastro" routerLink="/tela-cadastro">Cadastre-se</a>
        </div>
    </div>
</div>

