.corpo{
    margin: auto;
    padding: auto;
    width: 90%;
    height: 250px;
    display: flex;
    position: relative;
    background-color: grey;
    z-index: 1;
    border-radius: 30px;
    opacity: 70%;
}

.imagem{
    margin: 5px;
    margin-left: 73px;
    padding: 5px;
    width: 200px;
    height: 220px;
    border-radius: 50%;
}
.apresentacao{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}
.apresentacao > .descricao{
    margin-top: 25%;
}
.descricao{
    height: 70px;
    border: solid 1px red;
    color: white;
    display: flex;
    flex-direction: column;
    bottom: 0;
}